Twilo/sfdx-project.json
Twilo/.sfdx/tools/apex.db
Twilo/.sfdx/tools/sobjects/standardObjects/Account.cls
Twilo/.sfdx/tools/sobjects/standardObjects/Attachment.cls
Twilo/.sfdx/tools/sobjects/standardObjects/Case.cls
Twilo/.sfdx/tools/sobjects/standardObjects/Contact.cls
Twilo/.sfdx/tools/sobjects/standardObjects/Contract.cls
Twilo/.sfdx/tools/sobjects/standardObjects/Lead.cls
Twilo/.sfdx/tools/sobjects/standardObjects/Note.cls
Twilo/.sfdx/tools/sobjects/standardObjects/Opportunity.cls
Twilo/.sfdx/tools/sobjects/standardObjects/Order.cls
Twilo/.sfdx/tools/sobjects/standardObjects/Pricebook2.cls
Twilo/.sfdx/tools/sobjects/standardObjects/PricebookEntry.cls
Twilo/.sfdx/tools/sobjects/standardObjects/Product2.cls
Twilo/.sfdx/tools/sobjects/standardObjects/RecordType.cls
Twilo/.sfdx/tools/sobjects/standardObjects/Report.cls
Twilo/.sfdx/tools/sobjects/standardObjects/Task.cls
Twilo/.sfdx/tools/sobjects/standardObjects/User.cls
Twilo/.sfdx/tools/soqlMetadata/typeNames.json
Twilo/.sfdx/tools/soqlMetadata/standardObjects/Account.json
Twilo/.sfdx/tools/soqlMetadata/standardObjects/Attachment.json
Twilo/.sfdx/tools/soqlMetadata/standardObjects/Case.json
Twilo/.sfdx/tools/soqlMetadata/standardObjects/Contact.json
Twilo/.sfdx/tools/soqlMetadata/standardObjects/Contract.json
Twilo/.sfdx/tools/soqlMetadata/standardObjects/Lead.json
Twilo/.sfdx/tools/soqlMetadata/standardObjects/Note.json
Twilo/.sfdx/tools/soqlMetadata/standardObjects/Opportunity.json
Twilo/.sfdx/tools/soqlMetadata/standardObjects/Order.json
Twilo/.sfdx/tools/soqlMetadata/standardObjects/Pricebook2.json
Twilo/.sfdx/tools/soqlMetadata/standardObjects/PricebookEntry.json
Twilo/.sfdx/tools/soqlMetadata/standardObjects/Product2.json
Twilo/.sfdx/tools/soqlMetadata/standardObjects/RecordType.json
Twilo/.sfdx/tools/soqlMetadata/standardObjects/Report.json
Twilo/.sfdx/tools/soqlMetadata/standardObjects/Task.json
Twilo/.sfdx/tools/soqlMetadata/standardObjects/User.json
Twilo/.sfdx/typings/lwc/apex.d.ts
Twilo/.sfdx/typings/lwc/engine.d.ts
Twilo/.sfdx/typings/lwc/lds.d.ts
Twilo/.sfdx/typings/lwc/messageservice.d.ts
Twilo/.sfdx/typings/lwc/schema.d.ts
Twilo/.sfdx/typings/lwc/user.d.ts
Twilo/.sfdx/typings/lwc/sobjects/Account.d.ts
Twilo/.sfdx/typings/lwc/sobjects/Attachment.d.ts
Twilo/.sfdx/typings/lwc/sobjects/Case.d.ts
Twilo/.sfdx/typings/lwc/sobjects/Contact.d.ts
Twilo/.sfdx/typings/lwc/sobjects/Contract.d.ts
Twilo/.sfdx/typings/lwc/sobjects/Lead.d.ts
Twilo/.sfdx/typings/lwc/sobjects/Note.d.ts
Twilo/.sfdx/typings/lwc/sobjects/Opportunity.d.ts
Twilo/.sfdx/typings/lwc/sobjects/Order.d.ts
Twilo/.sfdx/typings/lwc/sobjects/Pricebook2.d.ts
Twilo/.sfdx/typings/lwc/sobjects/PricebookEntry.d.ts
Twilo/.sfdx/typings/lwc/sobjects/Product2.d.ts
Twilo/.sfdx/typings/lwc/sobjects/RecordType.d.ts
Twilo/.sfdx/typings/lwc/sobjects/Report.d.ts
Twilo/.sfdx/typings/lwc/sobjects/Task.d.ts
Twilo/.sfdx/typings/lwc/sobjects/User.d.ts
Twilo/.sfdx/orgs/shivarvtask@gmail.com/sourcePathInfos.json.bak
Twilo/.sfdx/orgs/shivarvtask@gmail.com/sourcePathInfos.json.bak
Twilo/.sfdx/orgs/shivarvtask@gmail.com/sourcePathInfos.json.bak
